<div class='pull-right'>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>

<h2>Contacts</h2>
<ul>
	<% @contacts.each do |contact| %>
		<li>
			<%= link_to contact.complete_name, contact_path(contact)%>
		</li>
	<% end %>
</ul>