<div class='pull-right'>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>

<dl class="dl-horizontal">	
	<dt>First Name</dt>
	<dd><%= @contact.first_name %></dd>
	<dt>Last Name</dt>
	<dd><%= @contact.last_name %></dd>
	<dt>Company</dt>
	<dd><%= @contact.company_name %></dd>
	<dt>Address</dt>
	<dd><%= @contact.address %></dd>
	<dt>City</dt>
	<dd><%= @contact.city.name %></dd>
	<dt>County</dt>
	<dd><%= @contact.county %></dd>
	<dt>State</dt>
	<dd><%= @contact.state.name %></dd>
	<dt>Phone 1</dt>
	<dd><%= @contact.phone1 %></dd>
	<dt>Phone 2</dt>
	<dd><%= @contact.phone2 %></dd>
	<dt>Email</dt>
	<dd><%= @contact.email %></dd>
	<dt>Web</dt>
	<dd><%= link_to @contact.web, @contact.web, :target => "_blank" %></dd>
</dl>